---
title: FundRequest
pagina: Home
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en">

  {% include head.html %}

  <body>
  	<div id="preloader">
		<img src="assets/favicons/android-chrome-192x192.png" alt="Preloader FundRequest">
	</div>
      {% include nav.html %}

      <div class="huls">

      <section class="header">
    	<div class="bg-image" style="background-image: url('assets/img/header-home.jpg');"></div>
        <div class="container-fluid">
            <div class="row">
            	<div class="col-lg-offset-1 col-lg-6 col-md-offset-1 hidden-sm hidden-xs logo">
            		<a href="index"><img src="assets/img/logo.png" alt=""></a>
            	</div>
                <div class="col-lg-offset-1 col-lg-6 col-md-offset-1 col-md-8 col-sm-10 vertical-align">
                    <h1>Token sale &amp; date</h1>
                    <h2>November 20th 10am CET</h2>
                    <div id="countdown"></div>
                    <div class="row headerbtns">
                    	<div class="col-sm-6">
		            		<a href="https://youtu.be/Jnd5W7h3igQ" class='smallBtn youtube'>Watch video</a>
		            	</div>
		            	<div class="col-sm-6">
		            		<a class="smallBtn" href="https://fundrequest.io/whitepaper.pdf" target="_blank">Read white paper</a>
		            	</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-md hidden-sm hidden-xs">
		    <div class="cta-huls">
		        <div class="cta-image" style="background-image: url('assets/img/header-home-cta.png'); background-position: -625px top;"></div>
		    </div>
		    <div class="cta-block">
				<div class="cta-inner vertical-align">
					<a class="cta-btn" href="https://register.fundrequest.io/" target="_blank">GET REGISTERED<br> FOR TOKEN SALE!</a>
				</div>
		    </div>
		</div>
		<div class="hidden-lg">
		    <div class="cta-huls" style="">
		        <div class="cta-image"style="background-image: url('assets/img/header-home-cta.png'); background-position: -625px top;"></div>
		    </div>
		    <div class="cta-block">
				<div class="cta-inner vertical-align">
					<a class="cta-btn" href="https://register.fundrequest.io/" target="_blank">GET REGISTERED<br> FOR TOKEN SALE!</a>
				</div>
		    </div>
		</div>
		<a href="#" class='scrolltonext'>Learn more</a>
    </section>
    	
	<section class="about">
		<div class="sidebarnav hidden-sm hidden-xs">
          <nav class="vertical-nav">
              <ul>
                  <li>
                      <a class="aboutnav" href="#about1" data-number="1">
                          <span class="cd-label">Overview</span>
                      </a>
                  </li>
                  <li>
                      <a class="aboutnav" href="#about2" data-number="2">
                          <span class="cd-label">Team</span>
                      </a>
                  </li>
                  <li>
                      <a class="aboutnav" href="#about3" data-number="3">
                          <span class="cd-label">Whitelist info</span>
                      </a>
                  </li>
                  <li>
                      <a class="aboutnav" href="#about4" data-number="4">
                          <span class="cd-label">Token info</span>
                      </a>
                  </li>
                   <li>
                      <a class="aboutnav" href="#about5" data-number="5">
                          <span class="cd-label">Terms &amp; Conditions</span>
                      </a>
                  </li>
                   <li>
                      <a class="aboutnav" href="#about6" data-number="6">
                          <span class="cd-label">How to contribute</span>
                      </a>
                  </li>
                   <li>
                      <a class="aboutnav" href="#about7" data-number="7">
                          <span class="cd-label">Whitepaper &amp; other info</span>
                      </a>
                  </li>
                   <li>
                      <a class="aboutnav" href="#about8" data-number="8">
                          <span class="cd-label">FAQ</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
      <section id="about1" class="overview allabout">
	    <div class="container-fluid">
	        <div class="row">
                <div class="col-md-offset-4 col-md-8 col-sm-12">
                	<a name="overview"></a>
                	<div class="row">
                		<div class="col-md-11">
                			<h2>Overview</h2>
                			<p>Open source software is a vital component in the functioning of governments, large and small companies, and non-profit organisations all around the world. However, a lack of incentives for developers to work on open source renders many inactive projects.</p>
                			<p>FundRequest is a decentralized marketplace for open source software collaboration. It is a platform to fund software development and to reward community contributions using blockchain technology. Users receive monetary and reputation-based rewards for solving issues in open source projects. The funds are transferred to the solver of the issue upon successful delivery.</p>
                			<p>Our vision is an open source platform for the community which runs decentralised and is developed, maintained and governed by the community. Our mission is to boost open source development and reward contributors in a fair and transparent way.</p>
                		</div>
                	</div>
                </div>
            </div>
        </div>
      </section>
        <section id="about2" class="team allabout">
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col-md-offset-4 col-md-8 col-sm-12">
			        	<a name="team"></a>
			        	<div class="row">
			        		<div class="col-md-11">
			        			<div class="row">
			                        <div class="col-sm-12">
			                            <h2>Core team</h2>
			                        </div>
			                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
			                            <div class="overlay groen"><img class="img-circle" src="assets/img/karel-striegel.jpg" width="140" alt="Karel Striegel avatar"></div>
			                            <h3>Karel <br />Striegel</h3>
			                            <h4>Founder / CEO</h4>
			                            <p>Karel is the man with the vision, and the solutions to execute his ideas. His infectious enthusiasm is the fuel behind the whole FundRequest team.</p>
			                            <ul>
			                                <li><a href="https://twitter.com/TheCharliez" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			                                <li><a href="https://www.linkedin.com/in/karelstriegel/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			                            </ul>
			                        </div>
			                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
			                            <div class="overlay groen"><img class="img-circle" src="assets/img/davy-van-roy.jpg" width="140" alt="Davy Van Roy avatar"></div>
			                            <h3>Davy <br />Van Roy</h3>
			                            <h4>CTO</h4>
			                            <p>Davy builds on existing ideas and makes them better. He’s a no-nonsense man of action that can solve the toughest problems. At FundRequest he’s in charge of the platform architecture & development.</p>
			                            <ul>
			                                <li><a href="https://twitter.com/DavyVanRoy" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			                                <li><a href="https://www.linkedin.com/in/davyvanroy/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			                            </ul>
			                        </div>
			                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
			                            <div class="overlay oranje"><img class="img-circle" src="assets/img/gerbert-vandenberghe.jpg" width="140" alt="Gerbert Vandenberghe avatar"></div>
			                            <h3>Gerbert <br />Vandenberghe</h3>
			                            <h4>Business Analyst</h4>
			                            <p>Gerbert has a passion for domain modeling, and is always eager to learn and discuss new ideas and insights. His main focus is creating business value while providing the best possible user experience.</p>
			                            <ul>
			                                <li><a href="https://twitter.com/gillepils" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			                                <li><a href="https://www.linkedin.com/in/gerbertvandenberghe/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			                            </ul>
			                        </div>
			                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
			                            <div class="overlay blauw"><img class="img-circle" src="assets/img/tim-dierckxsens.jpg" width="140" alt="Tim Dierckxsens avatar"></div>
			                            <h3>Tim <br />Dierckxsens</h3>
			                            <h4>Product Manager</h4>
			                            <p>Tim has the gift to assemble all the right people around a project. He can enter the mind of a customer and determines the viability of an idea accordingly.</p>
			                            <ul>
			                                <li><a href="https://twitter.com/TimDierckxsens" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			                                <li><a href="https://www.linkedin.com/in/timdierckxsens/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			                            </ul>
			                        </div>
			                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
			                            <div class="overlay oranje"><img class="img-circle" src="assets/img/steve-maris.jpg" width="140" alt="Steve Maris avatar"></div>
			                            <h3>Steve <br />Maris</h3>
			                            <h4>Core Developer</h4>
			                            <p>Steve is a full-stack developer with a preference for front-end technology. He knows how to style and structure the web, with a focus on UX and accessibility</p>
			                            <ul>
			                                <li><a href="https://www.linkedin.com/in/steve-maris-7b26b652/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			                            </ul>
			                        </div>
			                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
			                            <div class="overlay blauw"><img class="img-circle" src="assets/img/quinten-de-swaef.jpg" width="140" alt="Quinten De Swaef Avatar"></div>
			                            <h3>Quinten <br />De Swaef</h3>
			                            <h4>Core Developer</h4>
			                            <p>Quinten is an ethical hacker, who is always up to date with the latest tech developments. At FundRequest, he supports the back-end development.</p>
			                            <ul>
			                                <li><a href="https://twitter.com/QuintenDes" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			                                <li><a href="https://www.linkedin.com/in/quinten-de-swaef-562a8826/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			                            </ul>
			                        </div>
			                        <div class="col-lg-4 col-sm-6 sameHeight text-center">
			                            <div class="overlay groen"><img class="img-circle" src="assets/img/nico-haelterman.jpg" width="140" alt="Nico Haelterman avatar"></div>
			                            <h3>Nico <br />Haelterman</h3>
			                            <h4>Technical Analyst</h4>
			                            <p>Nico has a passion for emerging technologies and is a firm believer in decentralised (micro) payments. With an MD in commercial engineering and specialisation in AI, he will act as an economical and technical advisor for our team.</p>
			                            <ul>
			                                <li><a href="https://www.linkedin.com/in/nico-haelterman-2b60121/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			                            </ul>
			                        </div>
			                    </div>
			        		</div>
			        	</div>
			        </div>
	        	</div>
        	</div>
        </section>
        <section id="about3" class="whitelist allabout">
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col-md-offset-4 col-md-8 col-sm-12">
        				<div class="row">
        					<div class="col-md-11">
	        					<h2>Whitelist Info</h2>
		        				<p>We value our supporters deeply, and therefore want to make sure we only attract participants who adhere to the vision behind FundRequest, we will only allow community members to take part in the event.</p>
		        				<p>To receive your invitation for the FundRequest Token Generation Event join the FundRequest community and complete the Know-Your-Customer (KYC) Registration.</p>
		        				<div class="row">
		        					<div class="col-md-4 col-sm-6 col-xs-6 sameHeight">
			                            <div class='social_icon'>
			                                <a href='https://t.me/fundrequestofficial' target="_blank">
			                                	<i class="icon-icon-telegram" aria-hidden="true"></i>
			                                </a>
			                            </div>
			                        </div>
			                        <div class="col-md-4 col-sm-6 col-xs-6 sameHeight">
			                            <div class='social_icon'>
			                                <a href="https://fundrequest.slack.com/" target="_blank"><span class="icon-slack"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></a>
			                            </span></a>
			                            </div>
			                        </div>
		        				</div>

		        				<div class="padding80"></div>

		        				<ul class="bullets">
		        					<li>Whitelist Registration Period: October 31st - November 19th.</li>
		        					<li>Tokens Available for Sale: 120,000,000 FND. <br /><span style="font-style: italic;">(approximation. The ratio depends on the ETHUSD Spot price and thus the exact amount of tokens cannot be defined at this moment)</span></li>
		        				</ul>

		        				<div class="padding80"></div>

		        				<h3>How to Register:</h3>
								<ol>
									<li><a href="https://register.fundrequest.io/" target="_blank">Click Register.</a></li>
									<li>Provide All Required Information.</li>
									<li>Submit the Form.</li>
								</ol>

								<div class="padding80"></div>
								
								<h3>How to Contribute During The Token Sale:</h3>
								<ol>
									<li>You will receive access to the token sale.</li>
									<li>Provide the email and ETH wallet address from your whitelist confirmation in order to access the sale.</li>
									<li>Follow the contribution steps. Instructions will be provided before the token sale.</li>
								</ol>	
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <section id="about4" class="token allabout">
        	<div class="bg-image" style="background-image: url('assets/img/token.jpg');"></div>
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col-md-offset-4 col-md-8 col-sm-12">
        				<div class="row">
        					<div class="col-md-11">
        						<h2>Token information</h2>
        						<p>FND will be the token used on the FundRequest platform and  follows the <a href="https://theethereum.wiki/w/index.php/ERC20_Token_Standard" target="_blank">ERC20 token standard</a>.</p>
        						<p>For the actual implementation of the FND token, we use the <a href="https://github.com/Giveth/minime" target="_blank">MiniMe token contract</a> which is being used by several other projects (eg. Aragon). There will be no alterations to the contract so we and all users can have full confidence in the FND token.</p>
        						<p>The MiniMe contract gives the flexibility of Token upgrade with the existing token acting as the parent token. When a balance is queried, the state of the parent token is added to the state of the new token, yieldingthe final result. This is a very powerful mechanism should an upgrade be required.</p>
        						
        						<div class="padding80"></div>

        						<h2>Token Supply</h2>
        						<div class="row">
        							<div class="col-lg-12 col-md-12">
        								<p>The hard cap is 15 million USD in ETH equivalent and the spot price is 1800 FND/ETH.</p>
        							</div>
        							<div class="col-lg-6 col-xl-5 col-md-12">
        								<img src="assets/img/tokens.png" alt="Token sales" />
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <section id="about5" class="terms allabout">
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col-md-offset-4 col-md-8 col-sm-12">
        				<div class="row">
        					<div class="col-md-11">
        					<h2>Terms &amp; Conditions</h2>
        						<p>Terms and Conditions are currently being review by PwC and once approved they will be updated. Before the token sale you will be subjected to approve the terms and conditions.</p>
        						<a href="assets/data/Terms-Conditions.pdf" class="smallBtn" target="_blank">Token Sale T&amp;C</a>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <section id="about6" class="contribute allabout">
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col-md-offset-4 col-md-8 col-sm-12">
        				<div class="row">
        					<div class="col-md-11">
        						<h2>How to contribute</h2>
        						<p>You can contribute to the FND token sale using MyEtherWallet or MetaMask.</p>
        						<p>To join the FundRequest token sale, you can purchase FND tokens directly from the Token Sale smart contract.</p>
        						<div class="row">
		        					<div class="col-md-4 col-sm-6 col-xs-6 sameHeight">
		        						<a href="#"><img src="assets/img/metamask.png" alt="MetaMask" />MetaMask</a>
		        					</div>
		        					<div class="col-md-4 col-sm-6 col-xs-6 sameHeight">
		        						<a href="#"><img src="assets/img/etherwallet.png" alt="" />My Ether Wallet</a>
		        					</div>
		        				</div>
		        				<h3>Important notes</h3>
        						<ul class="bullets">
        							<li>Do not send funds from exchanges such as Poloniex, Bitfinex, Bittrex, Coinbase, GDAX, etc. Your FND may be lost if you do.</li>
        							<li>Do not send ether before the countdown.</li>
        							<li>We recommend using the geth light client to avoid network congestion if you know how to use it. If you are new, read our guide on how to purchase using MyEtherWallet or MetaMask.</li>
        							<li>Only ETH is accepted.</li>
        							<li>By participating in the token sale, you agree to the FND token sale <a class="page-scroll" href="#about5">terms and conditions</a>.</li>
        							<li>All transactions sent to FND token sale contract are viewable on etherscan website.</li>
        						</ul>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
         <section id="about7" class="whitepaper allabout">
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col-md-offset-4 col-md-8 col-sm-12">
        				<div class="row">
        					<div class="col-md-11">
        						<h2>Whitepaper &amp; other info</h2>
        						<p><a class="cta-btn" target="_blank" href="https://fundrequest.io/whitepaper.pdf" target="_blank">Whitepaper</a><br />
        						<a class="cta-btn" target="_blank" href="https://blog.fundrequest.io">Blog</a><br />
        						<a class="cta-btn" target="_blank" href="https://github.com/fundrequest">Github</a><br />
        						<a class="cta-btn" target="_blank" href="https://www.reddit.com/r/fundrequest/">Reddit</a><br />
        						<a class="cta-btn" target="_blank" href="assets/data/Terms-Conditions.pdf">Terms and Conditions</a></p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
         <section id="about8" class="faq allabout">
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col-md-offset-4 col-md-8 col-sm-12">
        				<div class="row">
        					<div class="col-md-11">
        						<h2>Faq</h2>
        						<h3>Q: When will I receive my tokens? </h3>
        						<p>A: You will receive your tokens immediately after the transaction has completed.</p>
        						<h3>Q: Why do I have to register? </h3>
        						<p>A: Banks have extensive regulations against money laundering and need to do kyc (Know your customer) in order to know from where the money on their bank originates. Since we are doing a token sale, our bank cannot know the origin of the money that we will transfer to our bank account and demand us to do the kyc.</p>
        						<h3>Q: How can I check that I am able to participate in the token sale? </h3>
        						<p>A: We will provide a specific webpage where you will be able to enter your Ether address and check you have been successfully whitelisted and your information was validated.</p>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
	</section>
	</div>

	{% include footer.html %}

  </body>

</html>