<nav class="navbar navbar-default navbar-fixed-top headroom">
  <div class="container-fluid">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar cross"></span>
          <span class="icon-bar cross2"></span>
          <span class="icon-bar hidecross"></span>
        </button>
        <a class="navbar-brand" href="index"><img src="assets/img/logo.png" alt=""></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="nav navbar-nav navbar-right hidden-sm hidden-xs">
          <div id="countdownnav"></div>
          <a class="registerbtn" href="https://register.fundrequest.io/" target="_blank">Register</a>
        </div>
        <ul class="nav navbar-nav navbar-right hidden-lg hidden-md">
            <li>
                <a class="page-scroll" href="#about1" data-number="1">
                    <span class="cd-label">Overview</span>
                </a>
            </li>
            <li>
                <a class="page-scroll" href="#about2" data-number="2">
                    <span class="cd-label">Team</span>
                </a>
            </li>
            <li>
                <a class="page-scroll" href="#about3" data-number="3">
                    <span class="cd-label">Whitelist info</span>
                </a>
            </li>
            <li>
                <a class="page-scroll" href="#about4" data-number="4">
                    <span class="cd-label">Token info</span>
                </a>
            </li>
             <li>
                <a class="page-scroll" href="#about5" data-number="5">
                    <span class="cd-label">Terms &amp; Conditions</span>
                </a>
            </li>
             <li>
                <a class="page-scroll" href="#about6" data-number="6">
                    <span class="cd-label">How to contribute</span>
                </a>
            </li>
             <li>
                <a class="page-scroll" href="#about7" data-number="7">
                    <span class="cd-label">Whitepaper &amp; other info</span>
                </a>
            </li>
             <li>
                <a class="page-scroll" href="#about8" data-number="8">
                    <span class="cd-label">FAQ</span>
                </a>
            </li>
        </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>